
<div class="container">
  <div class="row">

    <div class="main">

      <h3>¿No eres administrador?</h3>
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6">
          <a routerLink="/loginrecepcionista" class="btn btn-lg btn-primary btn-block">Recepción </a>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
          <a routerLink="/cliente" class="btn btn-lg btn-info btn-block">Cliente</a>
        </div>
      </div>
      <div class="login-or">
        <hr class="hr-or">
        <span class="span-or">ó</span>
      </div>


<form method="post" name="loginAdmin" ngNativeValidate #form>
  <div class="form-group" >
    <label for="inputusername">Usuario</label>
    <input type="text" class="form-control" id="inputusername" [formControl]="username" required>

  </div>

  <div class="form-group">
    <label for="inputPassword">Contraseña</label>
    <input type="password" class="form-control" id="inputPassword" [formControl]="password" required>

    <a class="pull-right" href="#">¿olvidó su contraseña?</a>
  </div>
  <div class="checkbox pull-right">
    <label>
      <input type="checkbox">
      Guardar datos de ingreso </label>
  </div>

  <button type="submit" class="btn btn btn-primary" (click)="form.checkValidity()? enviarLogin() : null">
  Iniciar sesión
</button>
</form>
      <br>
      <a routerLink="" class="btn btn-danger btn-primary btn-block">Volver atrás </a>
    </div>
  </div>


</div>


