<nav class="navbar navbar-expand-lg navbar-light" id="navPrincipal">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
    aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <img
    src="https://trello-attachments.s3.amazonaws.com/5eb8d6ef59f7883050d4d42d/675x288/336c0ad94a6d4ab1b85113d40838e092/image.png"
    class="img-fluid" height="200" width="200" alt="Responsive image">
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" style="width: 600px; " placeholder="Search" aria-label="Search">
      <button class="btn btn-warning my-2 my-sm-0" type="submit">Buscar</button>
    </form>
    <button class="btn btn-danger my-2 my-sm-0" routerLink="/loginadmin" type="submit" id="boton-cerrarSesion">Cerrar sesión</button>
  </div>
</nav>

<br><br>
<div class="container">
  <div class="form-row">
    <div class="col-12">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#crearSitio" >Crear Sitio Turistico</button>
    </div>
  </div>
</div>
<br>

<div class="container">
  <div class="form-row">
    <div class="col-12">
      <nav class="navbar navbar-light bg-dark">
        <a class="navbar-brand" style="color: rgb(255, 255, 255);">Consultar sitio turistico</a>
        <form method="post" name="ConsultaSitio" class="form-inline" ngNativeValidate #form>
          <input class="form-control mr-sm-2" name="consulNombre" type="search" placeholder="Escriba el sitio"
                 aria-label="Search" [(ngModel)]="consulNombre" required>
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit"
                  (click)="form.checkValidity()? Search() : null">Consultar</button>
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="todoSitios()">Deshacer</button>
        </form>
      </nav>
      <table class="table table-warning" style="border-radius: 10%;">
        <thead>
        <tr>
          <th scope="col">No °</th>
          <th scope="col">Nombre</th>
          <th scope="col">Ubicación</th>
          <th scope="col">Descripción</th>
          <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody *ngFor="let i of info; index as num">
        <tr>
          <td>{{num+1}}</td>
          <td>{{i.sturis_nombre}}</td>
          <td>{{i.sturis_ubicacion}}</td>
          <td class="truncar-texto">{{i.sturis_descripcion}}</td>
          <td>
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit" data-toggle="modal"
                    data-target="#editarSitio" (click)="consultarEditar(i.sturis_nombre)">
                    Editar
             </button>
            <button  class="btn btn-outline-danger my-2 my-sm-0" type="submit" (click)="eliminarSitio(i.sturis_id)">Eliminar</button>
          </td>
        </tr>

        </tbody>
      </table>
      <br>
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>


<!--- Modal registro -->
<div class="modal fade" id="crearSitio" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registrar sitio turistico</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form method="post" name="RegistroSitio" ngNativeValidate #form>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="nombre">Nombre del lugar </label>
              <input type="text" class="form-control" id="nombre" placeholder="Nombre" value="vegas"
                [formControl]="nombreSitio" required>
            </div>
            <div class="form-group col-md-6">
              <label for="ubicacion">Ubicación</label>
              <input type="text" class="form-control" id="ubicacion" placeholder="Ubicación" value="vegas"
                [formControl]="ubicacionSitio" required>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="nit">Nit </label>
              <input type="number" class="form-control" id="nit" placeholder="Nit" value="123" [formControl]="nitSitio"
                required>
            </div>
            <div class="form-group col-md-6">
              <label for="estado">Estado</label>
              <select name="estado" id="estado" class="form-control" [formControl]="estadoSitio" required>
                <option selected>Destacadado</option>
                <option>Normal</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="descripcion">Descripción</label>
            <textarea class="form-control" id="descripcion" rows="3" [formControl]="descripSitio" required></textarea>
          </div>

          <div class="form-group">
            <label for="imagenes">Imagenes sitio</label>
            <br>
            <input type="file" accept=".svg" id="imagenes" (change)="selectImg($event)" multiple required>
          </div>
          <div class="form-group">
            <label for="guia">Guia turistica</label>
            <br>
            <input type="file" accept=".pdf" id="guia" (change)="selectFile($event)" required>
          </div>

          <div class="modal-footer">
            <button type="button" #closeModalCreate class="btn btn-secondary"  data-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary" (click)="crearSitio()">Registrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!--- Modal Editar -->
<div class="modal fade" id="editarSitio" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >Editar sitio turistico</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form method="post" name="editarNombre" ngNativeValidate #form>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="nombreEdit">Nombre del lugar </label>
              <input type="text" class="form-control" id="nombreEdit" placeholder="Nombre" value="{{nombreEdit}}"
                     [formControl]="nombreSitio" required>
            </div>
            <div class="form-group col-md-6">
              <label for="ubicacionEdit">Ubicación</label>
              <input type="text" class="form-control" id="ubicacionEdit" placeholder="Ubicación" value="{{ubicacionEdit}}"
                     [formControl]="ubicacionSitio" required>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="nitEdit">Nit </label>
              <input type="number"  class="form-control" id="nitEdit" placeholder="Nit" value="123" value="{{nitEdit}}" [formControl]="nitSitio"
                     required>
            </div>
            <div class="form-group col-md-6">
              <label for="estadoEdit">Estado</label>
              <select name="estado" id="estadoEdit" class="form-control"  [formControl]="estadoSitio" required>
                <option selected>Destacadado</option>
                <option>Normal</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="descripcionEdit">Descripción</label>
            <textarea class="form-control" id="descripcionEdit"  value="{{descripcionEdit}}" rows="3" [formControl]="descripSitio" required></textarea>
          </div>

          <div class="form-group">
            <label for="imagenesEdit">Imagenes sitio</label>
            <br>
            <input type="file" accept=".svg" id="imagenesEdit" (change)="selectImg($event)" multiple required>
          </div>
          <div class="form-group">
            <label for="guiaEdit">Guia turistica</label>
            <br>
            <input type="file" accept=".pdf" id="guiaEdit" (change)="selectFile($event)" required>
          </div>

          <div class="modal-footer">
            <button type="button" #closeModalCreate class="btn btn-secondary"  data-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary" (click)="editarSitios()" >Guardar Cambios</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>








<!-- Modal -->
  <!--<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalScrollableTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>-->
