/*
.verticalLine {
    border-left: thick solid #cecec0;
  }
*/
.table-warning, .table-warning>td, .table-warning>th {
 background-color: #ffffff;
}
.truncar-texto {
  width: 600px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#boton-cerrarSesion{
  margin-left: 220px;
}

#navPrincipal{
  background: rgba(68,153,233,1);
  background: -moz-linear-gradient(left, rgba(68,153,233,1) 0%, rgba(27,121,228,1) 50%, rgba(27,121,228,1) 100%);
  background: -webkit-linear-gradient(left, rgba(68,153,233,1) 0%, rgba(27,121,228,1) 50%, rgba(27,121,228,1) 100%);
  background: -o-linear-gradient(left, rgba(68,153,233,1) 0%, rgba(27,121,228,1) 50%, rgba(27,121,228,1) 100%);
  background: -ms-linear-gradient(left, rgba(68,153,233,1) 0%, rgba(27,121,228,1) 50%, rgba(27,121,228,1) 100%);
  background: linear-gradient(to right, rgba(68,153,233,1) 0%, rgba(27,121,228,1) 50%, rgba(27,121,228,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4499e9', endColorstr='#1b79e4', GradientType=1 );
  box-shadow: 0px 5px 35px 0px rgba(0,0,0,0.4);
}
