<br>
<ul class="nav justify-content-end">
  <div class="btn-group">
    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false">
      Seleccionar Perfil
    </button>
    <div class="dropdown-menu">

      <a class="dropdown-item" href="" routerLink="/loginadmin">Administradores</a>
      <a class="dropdown-item" href="" routerLink="/loginrecepcionista">Recepcionista </a>
      <a class="dropdown-item" href="" routerLink="/cliente">Cliente</a>
    </div>
  </div>
  <li class="nav-item">
    <a class="nav-link disabled"></a>
  </li>
</ul>


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="accordian">
    <ul>
		<li>
			<div class="image_title">
				<a >Elige un destino</a>
			</div>

				<img src="https://image.freepik.com/foto-gratis/mujer-joven-que-sostiene-globo-sus-manos-que-senala-dedo-concepto-turismo-viajes_183314-206.jpg"
				 alt = "Mujer apuntando al mundo"/>

		</li>
		<li>
			<div class="image_title">
				<a >Elige tus compañeros de viaje </a>
			</div>

				<img src="https://image.freepik.com/foto-gratis/personas-miniatura-viajar-mochila-pie-mapa-mundial_112237-152.jpg"  alt = "Elegir compañeros para viajar"/>

		</li>
		<li>
			<div class="image_title">
				<a >Elige tu plan con un click</a>
			</div>

				<img src="https://image.freepik.com/foto-gratis/icono-viaje-teclado-computadora-concepto-reserva-linea_117856-588.jpg"  alt = "Reservar viaje con un click"/>

		</li>
		<li>
			<div class="image_title">
				<a>Sorprende a tus seres queridos</a>
			</div>

				<img src="https://image.freepik.com/foto-gratis/chica-chico-estan-parados-mapa_85574-10734.jpg"  alt = "Hombre dando sorpesa a su mujer"/>

		</li>
		<li>
			<div class="image_title">
				<a>Disfruta el viaje</a>
			</div>

				<img src="https://image.freepik.com/foto-gratis/avion-juguete-pasaportes-sombrero-santa-claus_74580-1443.jpg"  alt = "Disfrutando del viaje"/>

		</li>
	</ul>
</div>


