


<br><br><br>


<div class="container">
    <div class="row">
      <div class="col-12" >
        <div class="text-center col-12 p-3  mb-2 bg-info text-white "><h1>Lugares que podrían gustarte</h1></div>

    </div>
  </div>

      <div class="row">
      <div class="col-4">

        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://www.hola.com/imagenes/viajes/2014072572733/top-25-destinos-turisticos-mundo/0-281-707/a_Machu-Picch-a.jpg" alt="Card image cap">
            <div class="card-body">
                <h6>Machu Picchu, Perú</h6>
              <p class="card-text">A 130 kilómetros de Cuzco, la Ciudad Perdida de los incas se alza entre barrancos en mitad de un paraje inaccesible de los Andes peruanos. La perfección de sus construcciones, su conservación y su escenario natural, encajonado en la cresta de un cerro sobre el valle del río Urubamba, hacen de este yacimiento uno de los tesoros arqueológicos más valiosos del mundo y, desde luego, uno de los más místicos.</p>
              <a href="#" class="btn btn-primary">Estoy interesado</a>
            </div>
          </div>

</div>


<div class="col-4">

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://www.hola.com/imagenes/viajes/2014072572733/top-25-destinos-turisticos-mundo/0-281-702/a_gtres_a00607604_2274-a.jpg" alt="Card image cap">
        <div class="card-body">
            <h6>Angkor Wat, Siem Reap, Camboya

            </h6>
          <p class="card-text">Más de trescientos templos hinduistas y budistas escondidos en la selva camboyana y abrazados por las raíces de gigantescos árboles se mantienen aún en pie en el que fuera corazón del poderoso reino de la exquisita civilización jemer. Entre ellos el más grandes y también el mejor conservado de los que integran el asentamiento es el de Angkor Wat.        </p>
          <a href="#" class="btn btn-primary">Estoy interesado</a>
        </div>
      </div>
  </div>



<div class="col-4">

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://www.hola.com/imagenes/viajes/2014072572733/top-25-destinos-turisticos-mundo/0-281-705/a_imago_st_030819400037_54998_cordo-a.jpg" alt="Card image cap">
        <div class="card-body">
            <h6>Mezquita Sheikh Zayed, Abu Dhabi, Emiratos Árabes Unidos</h6>
          <p class="card-text">Célebre por su color blanco puro y la fusión de las diferentes arquitecturas islámicas en un solo templo jamás antes visto, este inmenso templo con una superficie de 22.412 m2 y capacidad para más de cuarenta mil fieles, está considerada como la estructura de mármol más grande jamás construida por el hombre. Abrió sus puertas en el año 2007.</p>
          <a href="#" class="btn btn-primary">Estoy interesado</a>
        </div>
      </div>
  </div>

</div>

<br><br>
<div class="row">

<div class="col-4">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://owaytours.com/blog/wp-content/uploads/2019/08/Mezquita-de-C%C3%B3rdoba-Arquitectura.jpg" alt="Card image cap">
        <div class="card-body">
            <h6>Catedral y Mezquita, Córdoba
            </h6>
          <p class="card-text">Elegida la primera de Europa y la cuarta del mundo, la Mezquita de Córdoba no solo es una de las grandes maravillas arquitectónicas del arte islámico, declarada Patrimonio de la Humanidad gracias a la organizacion de las naciones.
        </p>
          <a href="#" class="btn btn-primary">Estoy interesado</a>
        </div>
      </div>
</div>

<div class="col-4">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://locuraviajes.com/wp-content/uploads/2015/05/Taj-Mahal-Una-Historia-de-Amor.jpg" alt="Card image cap">
        <div class="card-body">
            <h6> Taj Mahal, Agra, India

            </h6>
          <p class="card-text">La inspiradora belleza de este mausoleo nació como el homenaje de un desconsolado emperador a su esposa fallecida. Casi cinco siglos después de alzarse el Taj Mahal, en la India, sigue siendo un símbolo que atrae a miles de visitantes.

        </p>
          <a href="#" class="btn btn-primary">Estoy interesado</a>
        </div>
      </div>
</div>

  <div class="col-4">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://www.aviatur.com/source/contenidos/plaza-de-san-pedro-vaticano.jpg" alt="Card image cap">
        <div class="card-body">
            <h6> Basílica de San Pedro del Vaticano, Roma
            </h6>
          <p class="card-text">Es difícil enumerar los tesoros de este templo cristiano, pero en pocas líneas basta decir que es la iglesia más grande del mundo y que desde su perfecta cúpula se divisa una de las mejores vistas de Roma.
        </p>
          <a href="#" class="btn btn-primary">Estoy interesado</a>
        </div>
      </div>
</div>

</div><br><br>
<a href="http://localhost:4200" class="btn btn-danger btn-primary btn-block">Volver atrás </a>
<br><br>
 


</div>
  
